!!! 5
%html{ lang: "en" }
  = partial "partials/head"
  %body
    - if data[:navigation]
      = partial "#{data[:navigation][:partial]}", locals: { content: data[:navigation] }
    = yield
    - if false && data[:promote]
      - page = current_resource.url.gsub("/","")
      = partial "load", locals: { content: data[:promote][page] || data[:promote][:default] }
    - if data[:footer]
      = partial "load", locals: { content: data[:footer] }
    = partial "tail"
