- if content.kind_of?(String)
  - if content == ""
    %p.temp= lorem.paragraph
  - else
    %p= content

- elsif content.kind_of?(Hash)
  %div{ class: content["class"], id: content[:id] }
    - if content[:data]
      - content[:data].each do |data|
        = partial "partials/data", locals: { content: data }
    = partial "partials/#{content[:partial] || "default"}", locals: { content: content }

- elsif content.kind_of?(Array)
  %div.row.content-row
    - @width = 12 / content.count
    - content.each do |item|
      - if item.kind_of?(Hash)
        - if item[:class]
          - item[:class] = "#{item[:class]} col-sm-offset-#{item[:offset] || "0"} col-sm-#{item[:width] || @width}"
        - else
          - item[:class] = "col-sm-#{item[:width] || @width} col-sm-offset-#{item[:offset] || "0"}"
      = partial "partials/display", locals: { content: item }
