%div.mailchimp
  = stylesheet_link_tag "mailchimp"
  %div{ id: "mc_embed_signup" }
    %form{ action: "//#{data[:site][:mailchimp][:org]}.#{data[:site][:mailchimp][:region] || "us12"}.list-manage.com/subscribe/post?u=#{data[:site][:mailchimp][:user]}&amp;id=#{data[:site][:mailchimp][:id]}",
           method: "post",
           id: "mc-embedded-subscribe-form",
           name: "mc-embedded-subscribe-form",
           class: "validate",
           target: "_blank",
           novalidate: "" }
      %div{ id: "mc_embed_signup_scroll" }
      %div.mc-field-group
        %input{ type: "email",
                value: "",
                name: "EMAIL",
                class: "required email transparent",
                id: "mce-EMAIL",
                placeholder: content[:placeholder] }
        = partial "button", locals: { content: content }
      %div{ id: "mce-responses", class: "clear" }
        %div{ class: "response", id: "mce-error-response", style: "display:none" }
        %div{ class: "response", id: "mce-success-response", style: "display:none" }
        %div{ style: "position: absolute; left: -5000px;" }
          %input{ type: "text",
                  name: "b_#{data[:site][:mailchimp][:user]}_#{data[:site][:mailchimp][:id]}",
                  tabindex: "-1",
                  value: "" }
