%tail
  // "JQuery + Bootstrap"
  = javascript_include_tag "bootstrap/bootstrap.js"

  // "IE10 viewport hack for Surface/desktop Windows 8 bug"
  = javascript_include_tag "ie10-viewport-bug-workaround.js"

  // "Google Analytics"
  = # partial "google_analytics"

  // "Twitter"
  = # partial "twitter_ads", locals: { content: data[:site][:twitter][:site_visit] }

  // "Auto loader for custom Javascript"
  // = javascript_include_tag "all"
  = javascript_include_tag "sparkleformation.js"
  = javascript_include_tag "typetype.min.js"
