%tail
  // "JQuery + Bootstrap"
  = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
  = javascript_include_tag "bootstrap/bootstrap.js"

  // "IE10 viewport hack for Surface/desktop Windows 8 bug"
  = javascript_include_tag "ie10-viewport-bug-workaround.js"

  // "Google Analytics"
  - if data[:site].has_key?("google-analytics")
    = partial "google_analytics"

  // "Auto loader for custom Javascript"
  // = javascript_include_tag "all"
  = javascript_include_tag "loveboat.js"
